.container {
  width: auto;
  height: auto;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

//Чтобы увидеть модальное окно - закккоментируй
.container--closed {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding-top: 50%;
  }
}

@media (min-width: 1150px) {
  .container {
    padding-left: 291px;
    padding-right: 340px;
    padding-top: 25%;
  }
}
