.main-topic {
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  background-color: #f1f1f1;
  color: #000000;
  padding: 76px 43px 74px 42px;
  margin: 0;
  margin-bottom: 30px;
}
