.page-header {
  background-color: #ffffff;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 320px;
  text-decoration: none;
}

.page-header__wrapper {
  width: 320px;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  margin-bottom: -5px;
}

.page-header__logo-image {
  padding: 22px 37px 22px 116px;
  align-items: center;
}

.page-header__logo-image--tablet,
.page-header__logo-image--desktop {
  display: none;
}

.page-header__toggle {
  cursor: pointer;
  background-color: #ffffff;
  border: 0;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 37px;
  background-position: center;
}

// .page-header__toggle--opened {
//   background-image: url("../img/icon-menu-close.svg");
//   background-size: 21px 20px;
// }

.page-header__text {
  display: none;
}


@media (min-width: 768px) {
  .page-header__text {
    position: absolute;
    left: 488px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: right;
    font-size: 15px;
    display: block;
    z-index: 1;
    color: #444444;
    top: 91px;
  }

  .page-header {
    width: 100%;
  }

  .page-header__wrapper {
    align-items: flex-start;
    width: 370px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-header__logo-image,
  .page-header__toggle,
  .page-header__logo-image--desktop {
    display: none;
  }

  .page-header__logo-image--tablet {
    display: block;
    padding: 22px 37px 22px 48px;
  }
}

@media (min-width: 1150px) {
  .page-header {
    background-color: transparent;
    position: relative;
  }

  .page-header::after {
    content: "";
    position: absolute;
    top: 87px;
    left: 0;
    background-color: #ececec;
    width: 1150px;
    height: 1px;
  }

  .page-header--catalog::after {
    top: 88px;
  }

  .page-header__text {
    left: 868px;
    top: 91px;
    z-index: 1;
    color: #444444;
  }

  .page-header__logo-image--desktop {
    padding: 8px 10px 8px 25px;
    display: block;
    background-color: transparent;
    z-index: 100;
    //margin-left: 475px;
  }

  .page-header__wrapper {
    width: auto;
    background-color: transparent;
    z-index: 90;
    margin-left: 475px;
  }

  .page-header__logo-image--tablet {
    display: none;
  }
}
