.page-main {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  background-image: url("../img/hero-mobile@3x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 320px;
}

.page-main__wrapper {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: #f0f0f0;
  background-size: auto 373px;
  background-repeat: no-repeat;
  background-position: top center;
  width: 320px;

}

.page-main__header {
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.11;
  color: #010000;
  text-align: center;
  padding-top: 76px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 140px;
  margin: 0;
}
