.range {
  width: 320px;
}

.range__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding-left: 0;
}

.range__item {
  background-color: green;
  color: #ffffff;
}

.range__item--inter {
  background-color: #63d1bb;
  position: relative;
}

.range__item--inter::after {
  position: absolute;
  content: "";
  top: 23px;
  left: 244px;
  width: 40px;
  height: 62px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #149080;
  opacity: 0.5;
}

.range__item--toys {
  background-color: #56c3b2;
  position: relative;
}

.range__item--toys::after {
  position: absolute;
  content: "";
  top: 21px;
  left: 233px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #149080;
  opacity: 0.5;
}

.range__link {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  width: 291px;
  display: block;
  line-height: 1.26;
  padding-left: 29px;
  padding-top: 27px;
  padding-bottom: 30px;
}

// .range__item:hover {
//   transform: translateY(-5px);
//   padding-bottom: 30px;
// }

.range__item--inter:hover {
  transform: translateY(-5px);
  position: relative;
  background-color: #59d5bc;
}

.range__item--inter:hover::before {
  background-color: #59d5bc;
  content: "";
  position: absolute;
  // width: 525px;
  height: 26px;
  bottom: -5px;
  left: 0;
  width: 100%;
}

.range__item--inter:active {
  background-color: #59d5bc;
}

.range__item:hover::after {
  opacity: 0.7;
}

// .range__text:active {
//   opacity: 0.3;
// }
// .range__item:active {
//   opacity: 0.3;
// }

.range__item:active::after,
.range__item:active .range__text {
  opacity: 0.3;
}

.range__item--toys:hover {
  transform: translateY(-5px);
  position: relative;
  background-color: #46c1ae;
}

.range__item--toys:hover::before {
  background-color: #46c1ae;
  content: "";
  position: absolute;
  // width: 525px;
  height: 26px;
  bottom: -5px;
  left: 0;
  width: 100%;
}

.range__text {
  display: block;
  width: 110px;
}

@media (min-width: 768px) {
  .range {
    width: 100%;
    position: relative;
    margin-top: -119px;
  }

  .range::after {
    content: "";
    position: absolute;
    width: 768px;
    height: 24px;
    background-image: url("../img/zigzag-fill-desktop-svg.svg");
    background-position: 0 0;
    top: 106px;
    left: 0;
    background-size: 768px 24px;
    background-repeat: no-repeat;
  }

  // .range__list::after {
  //   content: "";
  //   position: absolute;
  //   width: 679px;
  //   height: 24px;
  //   background-image: url("../img/zigzag-fill-desktop-svg.svg");
  //   background-position: 0 0;
  //   top: 106px;
  //   left: -11px;
  //   background-size: 768px 24px;
  //   background-repeat: no-repeat;
  // }

  .range__list {
    display: flex;
    margin-left: 50px;
    margin-top: 1px;
    position: relative;
  }

  .range__link {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    padding-left: 36px;
    padding-right: 7px;
    padding-top: 28px;
  }

  .range__item--inter::after {
    top: 30px;
    left: 257px;
  }

  .range__item--toys::after {
    top: 32px;
    left: 239px;
  }
}

@media (min-width: 1150px) {
  .range {
    margin-top: -119px;
  }

  .range::after {
    width: 1150px;
    height: 16px;
    background-size: auto 37px;
    top: 102px;
    left: 0;
  }

  .range__link {
    width: 482px;
  }

  .range__item--inter::after {
    left: 449px;
  }

  .range__item--toys::after {
    left: 430px;
  }
}
